[Unit]
Description=Midas Full Node
After=network-online.target

[Service]
User=midas
Group=midas
WorkingDirectory=~
StateDirectory=midas
LogsDirectory=midas

Type=simple
ExecStart=/usr/bin/midasd --config-file /etc/midasd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
